<div class="col-12">
  <h1>Pages#home</h1>
  <p>Switched to mainnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn</p>
  <%= link_to "new post", new_post_path %>
</div>
